* {
	margin: 0;
	padding: 0;

}

#todo{
	font-family: Verdana,  Geneva, sans-serif;

}

#cabecalho{
	width: 100%;
	font-size:12pt;
	
	color:  #00ffff;
	text-align:  center;
	padding-bottom: 1em;
	padding-top: 1em;
	border-bottom: 1px solid #00ffff;

}
#conteudo{
	width: 100%;
	

}

#esquerda {
	float: left;
	background-color: #00ffff;
}

#esquerda div {
	font-size: 11pt;
	color: #ffffff;
	padding: 1em;
	font-weight: bold;
	text-align:center;

	


}

#direita {
	padding-top: 1em;
	padding-left: 10em;
	text-align: center;
	position: absolute;

		

}

#rodape{
	
	position:  absolute;
	bottom: 0;
	width: 100%;
	background-color:  #000000;
	color:  #ffffff;
	text-align:  center;
	
	
	font-size:12pt;
	float:bottom;

}

p {
	padding-bottom: 1em;
	text-align: center;

}
form {
	text-align: center;
	
}


#imgesquerda {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


